body {
    font-family: 'Poppins', sans-serif;
}
.active {
    color: #00D1B2;
}
/* input[type=radio] {
    width: 5%;
    height: 1em;
} */
[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    border-radius: 5px;
    height: 0;
}

    /* IMAGE STYLES */
[type=radio] + img {
    cursor: pointer;
}

    /* CHECKED STYLES */
[type=radio]:checked + img {
    border-radius: 5px;
    border: 2px solid #000000;
    background-color: rgba(0, 209, 178, 0.25);
}