body {
    font-family: 'Manrope', sans-serif;
}
/* Navbar Starts */
.navbar-item {
    font-weight: 600;
}
.active {
    color: #E61B49;
    font-weight: 700;
    border-bottom: 2px solid #E61B49;
}
.navbar-item:hover {
    color: #E61B49 !important;
}
.logo {
    background: url('../images/Logo.svg') no-repeat;
    background-size: cover;
    width: 200px;
    /* height: 48px; */
}
/* Navbar Starts */
.card-border {
    border-radius: 15px;
}
/* Radio Button Starts */
[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    border-radius: 5px;
    height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
    cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
    border-radius: 5px;
    border: 2px solid #3A3766;
    background-color: rgba(175, 175, 175, 0.4);
}
/* Radio Button Ends */

/* Tab Starts */
#tabs-with-content .tabs:not(:last-child) {
    margin-bottom: 0;
}

#tabs-with-content .tab-content {
    padding: 1rem;
    display: none;
}

#tabs-with-content .tab-content.is-active {
    display: block;
}
/* Tab Ends */
/* Return to Top */
#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}

#return-to-top:hover i {
    color: #fff;
    top: 5px;
}
/* Return to Top Ends */

.notification {
    position: absolute;
    bottom: 10px;
    right: 60px;
    z-index: 5;
    width: 350px;
}

.header {
    font-size: 2rem !important;
    font-weight: bold !important;
}

/* Social Buttons */

.icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
}

.icon-bar a:hover {
    background-color: #000;
}

.whatsapp {
    background: #25d366;
    color: white;
}

.instagram {
    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    color: white;
}
/* Social Buttons Ends */

/* Mobile Responsive */
@media (max-width: 768px){
    
    
    .services {
        height: 20px;
        width: 20px;
    }
    .missiontxt {
        font-size: 1.8rem !important;
    }
    .text {
        font-size: 1.1rem !important;
    }
    .header {
        font-size: 1.8rem !important;
        font-weight: bold !important;
    }
    .icon-bar a {
        display: block;
        text-align: center;
        padding: 13px;
        transition: all 0.3s ease;
        color: white;
        font-size: 15px;
    }
}
/* Mobile Responsive Ends */

.columns {
    margin: -35px 0;
    padding: 0;
}

@keyframes slidy {
    0% {
        left: 0%;
    }

    20% {
        left: 0%;
    }

    25% {
        left: -100%;
    }

    45% {
        left: -100%;
    }

    50% {
        left: -200%;
    }

    70% {
        left: -200%;
    }

    75% {
        left: -300%;
    }

    95% {
        left: -300%;
    }

    100% {
        left: -400%;
    }
}

div#slider {
    overflow: hidden;
}

div#slider figure img {
    width: 20%;
    float: left;
}

div#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 20s slidy infinite;
}


